@charset "UTF-8";
/*
 * author: Hsuna
 * version: v1.0
*/

/*====================================================
01. CSS Reset
02. Import Font
03. Media Mobile
====================================================*/

/*====================================================
01. CSS Reset
====================================================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

input,
select,
textarea{
  border: none;
}

input,
select,
textarea,
button{
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:after, :before {
  box-sizing: border-box;
}

/*====================================================
02. Import Font
====================================================*/
/* @font-face{
  font-family: 'FZHeiTi';
  src : url('../fonts/FZHTFW.TTF');
} */

html,
input,
select,
textarea,
option,
button{
  font-family: "Microsoft YaHei";
<<<<<<< HEAD
}
=======
}

/*====================================================
03. Media Mobile
====================================================*/
/* html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-size: 2.667vw;
}

@media only screen and (min-width:320px) {
  html {
    font-size: 53.3% !important;
  }
}

@media only screen and (min-width:360px) {
  html {
    font-size: 60% !important;
  }
}

@media only screen and (min-width:375px) {
  html {
    font-size: 62.5% !important;
  }
}

@media only screen and (min-width:414px) {
  html {
    font-size: 69% !important;
  }
}

@media only screen and (min-width:481px) {
  html {
    font-size: 80% !important;
  }
}

@media only screen and (min-width:561px) {
  html {
    font-size: 93.5% !important;
  }
}

@media only screen and (min-width:641px) {
  html {
    font-size: 106.8% !important;
  }
} */
>>>>>>> ddf8f93690e1ad734e9eef3256becec8b2669b11
